.DS_Store
nohup.out

*.sqlite3
*.log
*~
*.swp

vendor/plugins/haml/init.rb

log/*
coverage.data
coverage/*

public/plugin_assets
public/plugin_assets/

tmp/**/*
tmp/performance 

rerun.txt

db/schema.rb

.project
.buildpath
.rvmrc
jcameron-key.asc

/.bundle
.idea/
spec/fixtures/Seaside Architect.csv
spec/fixtures/seaside.csv
vendor/plugins/hydra_exhibits/app/models/ead_xml_banu.rb
