<h2 class="section-title">Lot</h2>
<%# link_to 'create new lot', new_lot_path(:target_content_type => "building", :target_pid=>params[:id])%>
 <a id="add_lot" class="create_lot" href="<%= lots_path(:target_content_type=> "building", :target_pid=>params[:id], :key=>"test") %>"> Add new Lot</a>

    
