<h2 class="section-title">Lot</h2>
<%# debug @building.lot_list.first.pid %>
<%- unless @building.lot_list.empty? -%>
<fieldset>
  <% lots = @building.lot_list %>
  <h3>This Building has <%= lots.count %> lots associated with it.</h3>
  <dl id="related-lots">
    <%- lots.each do |lot| -%>
      <dd class="lot_tag">
      <%= link_to "#{lot.pid}", lot_path(lot.pid, :building_pid=>params[:id] )%>
      <a class="destructive remove_lot" href="<%= lot_path(lot.pid, :building_pid=>params[:id] )%>" title="Remove lot"> Delete</a>
      </dd>
    <%- end -%>
  </dl>
</fieldset>
<%- end -%>

<div id="add_lot_div">
  <label>Lot key: </label>
  <input id="lot_key" type="text"/>
  <a id="add_lot" class="create_lot" href=# action="<%= lots_path(:building_content_type=> "building", :key=>"test") %>"> Add new Lot</a>
</div>




    
